//
// Component Variables
//
$drop-toggle-border-color: #e6e6e6;
$caret-size: 8px;
$caret-border-width: $caret-size / 2;

$input-height: 36px;

$list-items-height: $input-height;
$list-items-color: #333;
$list-items-hover-color: #fff;
$list-items-hover-bg-color: #789;